.task-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    overflow-y: auto;
    height: 500px;
    padding-right: 1em;
}
.task-list::-webkit-scrollbar{
    background-color: #efefef;
}
.task-list::-webkit-scrollbar-thumb{
    background: #095B83;
    border-radius: 4em;
   
}