.statisics-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    flex-wrap: wrap;
}

@media screen and (max-width:390px) {
    .statisics-list{
        width: 100%;
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}