.box{
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 1em;
    justify-content:center ;

}
.box .body{
    width: 80%;
}
@media screen and (max-width:390px) {
    .box{
        width: 90%;
        flex-direction: column;
    }
    .box .body{
        width: 100%;
    }
}