.titled-card {
    width: 258.99px;
    height: 128px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;

}

.titled-card>* {
    margin: 0em;
}

.titled-card p {
    margin-left: 0.2em;
    font-size: 4em;
}

.titled-card h2 {
    margin-left: 0.5em;

}

.titled-card .icon {
    transform: rotate(-20.19deg);
    position: absolute;
    top: 10%;
    right: 0;
    opacity: 0.6;
}


@media screen and (max-width:390px) {
    .titled-card {
        width: auto;
        height: 82px;
        font-size: 0.8em;
    }

    .titled-card .icon {
        font-size: 6em;
    }
}