.header {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4em;


}

.btn-desktop {
    display: block;
}

.btn-mobile {
    display: none;
}

.header>* {
    margin: 1em;
}

@media screen and (max-width:390px) {
    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: block  ;
    }

}