.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px 0 #66666640;
    height: 80px;
}

.task-card > *{
    margin: 1em !important;
}
.task-card .task-body {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 0;
}

.task-card .task-body * {
    margin: 0; 
}

.task-card .task-body input{
    width: 100%;
    padding: 0.2em;
    border-radius: 3px;
    border: 1px solid #11A8E6;
    outline: none;
}


.task-card .task-body input:disabled{
    border: none;
}